.name {
  font-size: 6px;
  fill: var(--text);
}

.switch {
  x: 27px;
  y: 34px;
  rx: 12%;
  width: 18px;
  height: 12px; 
  fill: var(--accent-light);
}

.switchInactive {
  fill: var(--main);
}

.switchCircle {
  cx: 33px;
  cy: 40px;
  r: 5px;
  fill: var(--accent);
}

.switchStateActive {
  transform: translateX(6px);
}