.weatherState {
  font-size: 25%;
  fill: var(--background);
}

.currentTemp {
  font-size: 70%;
  fill: var(--background);
}

.currentHumidity {
  font-size: 25%;
  fill: var(--background);
}

.weather {
  background: var(--main);
}