.name {
  position: absolute;
  bottom: 18px;
  left: 18px;
  max-width: 65%;
  font-size: 2em;
}

.switch {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 60px;
  height: 40px;
  border-radius: 70px;
  background-color: var(--accent-light);
}

.switchUnactive {
  background-color: var(--main);
}

.switchState {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 4px;
  background-color: var(--accent);
}

.switchStateActive {
  transform: translateX(21px);
  /* cubic-bezier(.65,.03,.83,.67) */
}