.card21 {
  position: relative;
  height: 30vh;
  width: 62vh;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 1vh;
  display: flex;
}

.card11 {
  position: relative;
  height: 30vh;
  width: 30vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: var(--card-background);
  margin: 1vh;
}

.cardB1 { border-radius: 12% 25% 12%  4%; }
.cardB2 { border-radius:  4% 12% 25% 12%; }
.cardB3 { border-radius: 12%  4% 12% 25%; }
.cardB4 { border-radius: 25% 12%  4% 12%; }


.on {
  background-color: var(--accent);
}
